.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  color: white;
  height: auto;
  width: 20vw;
  background-color: #6f4646;
}

.main-content {
  flex: 1;
  padding: 50px;
}
.item-link {
  font-size: x-large;
  color: white;
  padding-top: calc(100vh / 12);
  padding-bottom: calc(100vh / 12);
  text-decoration: none;
  display: block;
}
.item-link:hover {
  color: greenyellow;
}
