.sidebarContainer ul li {
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 45px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: yellow;
}
a.active {
  color: greenyellow;
}
.sidebarContainer {
  width: 20vw;
  height: 100vh;
  background-color: rgb(112, 69, 69);
  color: white;
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
}