.sidebar {
  width: 20vw;
  height: 100vh;
  background-color: rgb(70, 45, 45);
  color: rgb(252, 252, 252);
  padding: 50px;
  position: fixed;
  left: 0;
  top: 0;
}

/* remove bullets */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 35px 0px;
}

/* link styling */
.sidebar .link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: large;
  font-weight: bold;
  display: block;
}

/* hover */
.sidebar .link:hover {
  color: greenyellow;
}

/* active route */
.sidebar .link.active {
  color: yellow;
}
