.sidebar {
  width: 250px;
  height: 100vh;
  background-color: rgb(112, 69, 69);
  color: white;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}
.LINK {
  list-style-type: none;
  padding-top: calc(100vh / 16);
  padding-bottom: calc(100vh / 16);
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px 0;
  cursor: pointer;
}

.sidebar li:hover {
  color: greenyellow;
}
